table td {
	text-align: left;
	vertical-align: top;
}

table:not([class*="ant-"]) {
	border-top-width: 0px;
}

/* Index map icon override */
div.mapplugin.indexmap .indexmapToggle div.icon {
	background-size: 38px 38px;
}

div.mapplugin.indexmap .indexmapToggle[class$=-default] div.icon,
div.mapplugin.indexmap .indexmapToggle[class$=-dark] div.icon {
	background-image: url('../../../override-assets/suomi_dark.svg') !important;
}
div.mapplugin.indexmap .indexmapToggle[class$=-light] div.icon {
	background-image: url('../../../override-assets/suomi_light.svg') !important;
}